* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

h1 {
  font-size: 1.3rem;
  margin: 30px;
  text-align: center;
}

.logoLink {
  font-size: 1.8em;
  margin-left: 1em;
  font-weight: 600;
  color: black;
  text-decoration: none;
}
.logoLink :visited {
  color: black;
  text-decoration: none;
}
.logoLink :hover {
  color: black;
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  width: 100%;
  transition: opacity 500ms ease-in-out;
}
.header i {
  font-size: 30px;
  margin: 25px;
  color: black;
}

.header-background {
  opacity: 80%;
  transition: opacity 500ms ease-in-out;
}

.hero {
  min-height: 400px;
  width: 100%;
  background-image: url("../img/background-web.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -150px;
}

.card {
  background-color: #ffffffd7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}

.product-card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  max-width: 70%;
  min-width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.product-card__text {
  display: flex;
  justify-content: space-between;
  padding: 1.2em;
  font-size: 0.8em;
}
.product-card__text .button {
  margin: 0;
}
.product-card__name {
  font-size: 1.3em;
}
.product-card__price {
  font-size: 1.3em;
}
.product-card__price:before {
  content: "$ ";
}
.product-card__img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1.3em;
}
.product-card__button {
  width: 50%;
}

.product-card-detail {
  display: flex;
  flex-direction: column;
}
.product-card-detail__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.product-card-detail__text p {
  margin-top: 0;
}
.product-card-detail__price:before {
  content: "$ ";
}
.product-card-detail__img {
  width: 100%;
}

.formCard {
  width: 90%;
}

.cartContainer {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button {
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color: white;
  font-size: 0.8em;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
  margin: 10px 0;
  text-decoration: none;
  transition: background-color 600ms ease-in-out;
}
.button:hover {
  background-color: #615f5f;
  transition: background-color 600ms ease-in-out;
}

.detailPageWrapper {
  padding: 20px;
}

.detailCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productDetails {
  margin: 20px;
  margin-left: 5%;
}

.selectLensesMenu {
  margin: 0 30px 10px 0;
  font-family: "Montserrat", sans-serif;
}

.lenseMenu {
  font-weight: 1000;
  margin: 10px, 0;
}

.detailImage {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.productImages {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cartButton {
  width: 10em;
}

.summary {
  margin: 0.8em;
}

.cart-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}
.cart-card__img {
  width: 10%;
}
.cart-card__price:before {
  content: "$ ";
}

.total-price:before {
  content: "$ ";
}

.hide {
  display: none;
}

.form {
  margin: 0.8em;
  display: flex;
  justify-content: center;
}
.form__group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}
.form__input {
  width: 70%;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.confirmationPrice:before {
  content: "$ ";
}

.thankYouMessageContainer {
  margin-bottom: 2em;
}

.thankYouMessage {
  margin: 1em 1em 1.5em 1.5em;
}

.orderId {
  font-weight: 800;
}

.confirmationPrice {
  font-weight: 800;
}

.backToMain {
  margin: 1em 1em 4em 1.5em;
}

.footer {
  background-image: url("../img/footerBackground-web.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 30px;
}
.footer h2 {
  font-size: 1em;
}
.footer i {
  margin: 5px;
}

.mailingList {
  padding: 3px;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .hero {
    background-position-y: -250px;
  }
}
@media only screen and (min-width: 768px) {
  .hero {
    min-height: 400px;
    background-size: cover;
    background-position-y: -450px;
  }

  .product-card-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .product-card-detail i {
    color: darkgray;
  }
  .product-card-detail__text {
    width: 50%;
  }
  .product-card-detail__text p {
    margin-top: 10px;
  }
  .product-card-detail__nonText {
    width: 50%;
  }

  .productImages {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .detailImage {
    margin-top: 5%;
  }

  .formCard {
    width: 70%;
  }

  .footer {
    display: flex;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 992px) {
  .hero {
    min-height: 500px;
    background-size: cover;
    background-position-y: -600px;
  }

  .footer {
    background-position-y: -300px;
  }
}

/*# sourceMappingURL=style.css.map */
